/.idea
*.iml

.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

#Folder
esper/.settings/
esper/target/
esper/.classpath
esper/.project

matchingorder/.settings/
matchingorder/target/
matchingorder/.classpath
matchingorder/.project

.settings/

#Eclipse file
.classpath
.project